In [94]:
# https://www.kaggle.com/c/titanic/overview

In [160]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from catboost import CatBoostClassifier

In [161]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [138]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [139]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [162]:
for i in train['Name']:
    if 'Master.' in i:
        train['Name'] = train['Name'].replace({i:int(0)})
    elif 'Miss.' in i:
        train['Name'] = train['Name'].replace({i:int(1)})
    elif 'Mr.' in i:
        train['Name'] = train['Name'].replace({i:int(2)})
    elif 'Mrs.' in i:
        train['Name'] = train['Name'].replace({i:int(3)})
    
train['Name'] = train['Name'].astype(int)

In [163]:
for i in test['Name']:
    if 'Master.' in i:
        test['Name'] = test['Name'].replace({i:int(0)})
    elif 'Miss.' in i:
        test['Name'] = test['Name'].replace({i:int(1)})
    elif 'Mr.' in i:
        test['Name'] = test['Name'].replace({i:int(2)})
    elif 'Mrs.' in i:
        test['Name'] = test['Name'].replace({i:int(3)})
test['Name'] = test['Name'].astype(int)
# test['Name'] = pd.to_numeric(test['Name'],errors='coerce').astype(int)

In [33]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,2,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,3,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,1,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,3,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,2,male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,2,male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,3,female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,2,male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,2,male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,3,female,22.0,1,1,3101298,12.2875,NaN,S

In [164]:
train['Age'] = train['Age'].fillna(train['Age'].median())
train['Sex'] = train['Sex'].map({'male':1,'female':0})
train['Embarked'] = train['Embarked'].map({'S':3,'C':2,'Q':1})
# train.drop(['PassengerId','Name','Ticket','Cabin'],axis="columns",inplace=True)
train['Family'] = train['SibSp']+train['Parch']
train.drop(['PassengerId','Ticket','Cabin','SibSp','Parch'],axis="columns",inplace=True)

In [165]:
test['Age'] = test['Age'].fillna(test['Age'].median())
test['Fare'] = test['Fare'].fillna(test['Fare'].median())
test['Sex'] = test['Sex'].map({'male':1,'female':0})
test['Embarked'] = test['Embarked'].map({'S':3,'C':2,'Q':1})
# test.drop(['Name','Ticket','Cabin'],axis="columns",inplace=True)
test['Family'] = test['SibSp']+test['Parch']
test.drop(['Ticket','Cabin','SibSp','Parch'],axis="columns",inplace=True)

In [69]:
train.head()

   Survived  Pclass  Name  Sex   Age     Fare  Embarked  Family
0         0       3   2.0    1  22.0   7.2500         3       1
1         1       1   3.0    0  38.0  71.2833         2       1
2         1       3   1.0    0  26.0   7.9250         3       0
3         1       1   3.0    0  35.0  53.1000         3       1
4         0       3   2.0    1  35.0   8.0500         3       0

In [70]:
test.head()

   PassengerId  Pclass  Name  Sex   Age     Fare  Embarked  Family
0          892       3   2.0    1  34.5   7.8292         1       0
1          893       3   3.0    0  47.0   7.0000         3       1
2          894       2   2.0    1  62.0   9.6875         1       0
3          895       3   2.0    1  27.0   8.6625         3       0
4          896       3   3.0    0  22.0  12.2875         3       2

In [166]:
X_train = train.iloc[:,1:]
Y_train = train.iloc[:,0]
X_test = test.iloc[:,1:]

In [117]:
X_train.isna().sum()

Pclass      0
Name        0
Sex         0
Age         0
Fare        0
Embarked    0
Family      0
dtype: int64

In [118]:
X_test.isna().sum()

Pclass      0
Name        0
Sex         0
Age         0
Fare        0
Embarked    0
Family      0
dtype: int64

In [119]:
X_train.head()

   Pclass Name  Sex   Age     Fare  Embarked  Family
0       3    2    1  22.0   7.2500         3       1
1       1    3    0  38.0  71.2833         2       1
2       3    1    0  26.0   7.9250         3       0
3       1    3    0  35.0  53.1000         3       1
4       3    2    1  35.0   8.0500         3       0

In [120]:
X_test.head()

   Pclass  Name  Sex   Age     Fare  Embarked  Family
0       3     2    1  34.5   7.8292         1       0
1       3     3    0  47.0   7.0000         3       1
2       2     2    1  62.0   9.6875         1       0
3       3     2    1  27.0   8.6625         3       0
4       3     3    0  22.0  12.2875         3       2

In [135]:
X_train.dtypes

Pclass        int64
Name          int32
Sex           int64
Age         float64
Fare        float64
Embarked      int64
Family        int64
dtype: object

In [136]:
X_test.dtypes

Pclass        int64
Name          int32
Sex           int64
Age         float64
Fare        float64
Embarked      int64
Family        int64
dtype: object

In [167]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,5])], remainder='passthrough')
X_train = ct.fit_transform(X_train)

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,2,5])], remainder='passthrough')
X_test = ct.fit_transform(X_test)

In [168]:
X_train.shape

(891, 15)

In [169]:
X_train[0]

array([ 0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  1.  ,
        0.  ,  0.  ,  1.  , 22.  ,  7.25,  1.  ])

In [170]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ct = ColumnTransformer([('xyz',StandardScaler(),[12,13])], remainder='passthrough')
X_train = ct.fit_transform(X_train)
ct = ColumnTransformer([('xyz',StandardScaler(),[12,13])], remainder='passthrough')
X_test = ct.fit_transform(X_test)

In [171]:
# print(X_train)
# print(Y_train)
from sklearn.model_selection import train_test_split
data_tr, data_te, result_tr, result_te = train_test_split(X_train, Y_train, test_size=0.2, random_state=0)

In [172]:
np.shape(X_train)

(891, 15)

In [173]:
np.shape(X_test)

(418, 15)

In [177]:
acc = []
# for i in range(1,500):
model = CatBoostClassifier(iterations=204,depth=6)  
model.fit(data_tr, result_tr)
        # preds_valid = model.predict(data_tr)

        # print(f1_score(y_train, preds_valid, average='weighted'))
y_pred = model.predict(data_te)
predictions = [round(value) for value in y_pred]

accuracy = accuracy_score(result_te, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))
#     acc.append(accuracy*100.0)
    
# f1_score(y_train, predictions, average='weighted')

Learning rate set to 0.038284
0:	learn: 0.6652600	total: 2.82ms	remaining: 573ms
1:	learn: 0.6437541	total: 5.55ms	remaining: 561ms
2:	learn: 0.6222277	total: 8.41ms	remaining: 564ms
3:	learn: 0.6027327	total: 11.8ms	remaining: 590ms
4:	learn: 0.5849372	total: 14.5ms	remaining: 578ms
5:	learn: 0.5707908	total: 16.6ms	remaining: 546ms
6:	learn: 0.5587201	total: 18.3ms	remaining: 516ms
7:	learn: 0.5460280	total: 21.1ms	remaining: 518ms
8:	learn: 0.5334596	total: 24.6ms	remaining: 532ms
9:	learn: 0.5239839	total: 27.7ms	remaining: 537ms
10:	learn: 0.5130538	total: 31ms	remaining: 543ms
11:	learn: 0.5028466	total: 33.9ms	remaining: 543ms
12:	learn: 0.4937921	total: 37.3ms	remaining: 548ms
13:	learn: 0.4872158	total: 41ms	remaining: 556ms
14:	learn: 0.4789693	total: 44.3ms	remaining: 558ms
15:	learn: 0.4721307	total: 47.7ms	remaining: 561ms
16:	learn: 0.4659283	total: 51ms	remaining: 561ms
17:	learn: 0.4595877	total: 54.2ms	remaining: 560ms
18:	learn: 0.4538123	total: 57.5ms	remaining: 560ms
19:	learn: 0.4486231	total: 60.6ms	remaining: 558ms
20:	learn: 0.4445366	total: 63.5ms	remaining: 553ms
21:	learn: 0.4413208	total: 66.5ms	remaining: 550ms
22:	learn: 0.4368920	total: 69.2ms	remaining: 545ms
23:	learn: 0.4325872	total: 72.1ms	remaining: 541ms
24:	learn: 0.4288715	total: 75.3ms	remaining: 539ms
25:	learn: 0.4253161	total: 78.7ms	remaining: 539ms
26:	learn: 0.4238828	total: 80.1ms	remaining: 525ms
27:	learn: 0.4197023	total: 83.2ms	remaining: 523ms
28:	learn: 0.4168646	total: 86.3ms	remaining: 521ms
29:	learn: 0.4139730	total: 89ms	remaining: 516ms
30:	learn: 0.4104230	total: 92ms	remaining: 514ms
31:	learn: 0.4082391	total: 95.5ms	remaining: 513ms
32:	learn: 0.4053157	total: 98.4ms	remaining: 510ms
33:	learn: 0.4035139	total: 102ms	remaining: 509ms
34:	learn: 0.4022042	total: 105ms	remaining: 506ms
35:	learn: 0.3997484	total: 108ms	remaining: 505ms
36:	learn: 0.3979638	total: 113ms	remaining: 511ms
37:	learn: 0.3964655	total: 119ms	remaining: 518ms
38:	learn: 0.3955941	total: 122ms	remaining: 516ms
39:	learn: 0.3938788	total: 128ms	remaining: 526ms
40:	learn: 0.3936738	total: 130ms	remaining: 518ms
41:	learn: 0.3915988	total: 135ms	remaining: 519ms
42:	learn: 0.3904683	total: 138ms	remaining: 516ms
43:	learn: 0.3901135	total: 139ms	remaining: 507ms
44:	learn: 0.3889449	total: 143ms	remaining: 505ms
45:	learn: 0.3873319	total: 146ms	remaining: 500ms
46:	learn: 0.3858859	total: 149ms	remaining: 496ms
47:	learn: 0.3843195	total: 152ms	remaining: 494ms
48:	learn: 0.3831207	total: 155ms	remaining: 490ms
49:	learn: 0.3818717	total: 158ms	remaining: 488ms
50:	learn: 0.3812222	total: 162ms	remaining: 485ms
51:	learn: 0.3788222	total: 165ms	remaining: 482ms
52:	learn: 0.3777579	total: 168ms	remaining: 480ms
53:	learn: 0.3759692	total: 172ms	remaining: 477ms
54:	learn: 0.3755547	total: 175ms	remaining: 473ms
55:	learn: 0.3749375	total: 178ms	remaining: 470ms
56:	learn: 0.3738910	total: 180ms	remaining: 465ms
57:	learn: 0.3731526	total: 184ms	remaining: 462ms
58:	learn: 0.3724861	total: 187ms	remaining: 459ms
59:	learn: 0.3712609	total: 189ms	remaining: 455ms
60:	learn: 0.3710446	total: 192ms	remaining: 450ms
61:	learn: 0.3699834	total: 195ms	remaining: 446ms
62:	learn: 0.3689480	total: 197ms	remaining: 442ms
63:	learn: 0.3680761	total: 201ms	remaining: 439ms
64:	learn: 0.3675384	total: 203ms	remaining: 435ms
65:	learn: 0.3666806	total: 207ms	remaining: 432ms
66:	learn: 0.3661073	total: 209ms	remaining: 428ms
67:	learn: 0.3651642	total: 212ms	remaining: 425ms
68:	learn: 0.3644041	total: 216ms	remaining: 422ms
69:	learn: 0.3636256	total: 219ms	remaining: 419ms
70:	learn: 0.3630764	total: 222ms	remaining: 416ms
71:	learn: 0.3620127	total: 225ms	remaining: 412ms
72:	learn: 0.3613191	total: 228ms	remaining: 409ms
73:	learn: 0.3606945	total: 231ms	remaining: 406ms
74:	learn: 0.3599847	total: 234ms	remaining: 403ms
75:	learn: 0.3597497	total: 237ms	remaining: 399ms
76:	learn: 0.3586376	total: 240ms	remaining: 395ms
77:	learn: 0.3576296	total: 243ms	remaining: 392ms
78:	learn: 0.3565353	total: 246ms	remaining: 389ms
79:	learn: 0.3560486	total: 249ms	remaining: 386ms
80:	learn: 0.3552954	total: 252ms	remaining: 383ms
81:	learn: 0.3544949	total: 255ms	remaining: 380ms
82:	learn: 0.3534006	total: 258ms	remaining: 377ms
83:	learn: 0.3527443	total: 261ms	remaining: 373ms
84:	learn: 0.3522092	total: 265ms	remaining: 370ms
85:	learn: 0.3521342	total: 266ms	remaining: 365ms
86:	learn: 0.3517362	total: 269ms	remaining: 361ms
87:	learn: 0.3507656	total: 272ms	remaining: 359ms
88:	learn: 0.3494356	total: 275ms	remaining: 356ms
89:	learn: 0.3485448	total: 279ms	remaining: 353ms
90:	learn: 0.3477829	total: 282ms	remaining: 350ms
91:	learn: 0.3476049	total: 284ms	remaining: 346ms
92:	learn: 0.3470912	total: 287ms	remaining: 343ms
93:	learn: 0.3460679	total: 290ms	remaining: 339ms
94:	learn: 0.3448890	total: 293ms	remaining: 336ms
95:	learn: 0.3445769	total: 296ms	remaining: 333ms
96:	learn: 0.3440717	total: 299ms	remaining: 330ms
97:	learn: 0.3436058	total: 303ms	remaining: 328ms
98:	learn: 0.3428831	total: 306ms	remaining: 324ms
99:	learn: 0.3425578	total: 309ms	remaining: 321ms
100:	learn: 0.3419024	total: 313ms	remaining: 319ms
101:	learn: 0.3415886	total: 317ms	remaining: 317ms
102:	learn: 0.3413093	total: 320ms	remaining: 314ms
103:	learn: 0.3403653	total: 323ms	remaining: 311ms
104:	learn: 0.3397378	total: 326ms	remaining: 308ms
105:	learn: 0.3390811	total: 329ms	remaining: 304ms
106:	learn: 0.3387945	total: 336ms	remaining: 304ms
107:	learn: 0.3385573	total: 340ms	remaining: 302ms
108:	learn: 0.3379230	total: 343ms	remaining: 299ms
109:	learn: 0.3370098	total: 347ms	remaining: 297ms
110:	learn: 0.3365703	total: 350ms	remaining: 293ms
111:	learn: 0.3358413	total: 353ms	remaining: 290ms
112:	learn: 0.3353079	total: 357ms	remaining: 287ms
113:	learn: 0.3351587	total: 358ms	remaining: 283ms
114:	learn: 0.3346802	total: 362ms	remaining: 280ms
115:	learn: 0.3339756	total: 365ms	remaining: 277ms
116:	learn: 0.3337319	total: 369ms	remaining: 274ms
117:	learn: 0.3326432	total: 374ms	remaining: 272ms
118:	learn: 0.3321309	total: 377ms	remaining: 270ms
119:	learn: 0.3319500	total: 381ms	remaining: 266ms
120:	learn: 0.3311589	total: 384ms	remaining: 263ms
121:	learn: 0.3304775	total: 387ms	remaining: 260ms
122:	learn: 0.3297865	total: 391ms	remaining: 257ms
123:	learn: 0.3291711	total: 394ms	remaining: 254ms
124:	learn: 0.3288939	total: 399ms	remaining: 252ms
125:	learn: 0.3281723	total: 402ms	remaining: 249ms
126:	learn: 0.3273498	total: 405ms	remaining: 245ms
127:	learn: 0.3267244	total: 432ms	remaining: 256ms
128:	learn: 0.3261224	total: 442ms	remaining: 257ms
129:	learn: 0.3256992	total: 450ms	remaining: 256ms
130:	learn: 0.3256090	total: 455ms	remaining: 254ms
131:	learn: 0.3253092	total: 460ms	remaining: 251ms
132:	learn: 0.3248301	total: 463ms	remaining: 247ms
133:	learn: 0.3243295	total: 466ms	remaining: 244ms
134:	learn: 0.3239136	total: 470ms	remaining: 240ms
135:	learn: 0.3235537	total: 473ms	remaining: 236ms
136:	learn: 0.3230127	total: 475ms	remaining: 232ms
137:	learn: 0.3226251	total: 478ms	remaining: 229ms
138:	learn: 0.3219029	total: 481ms	remaining: 225ms
139:	learn: 0.3208335	total: 484ms	remaining: 221ms
140:	learn: 0.3199582	total: 487ms	remaining: 218ms
141:	learn: 0.3191768	total: 490ms	remaining: 214ms
142:	learn: 0.3189218	total: 492ms	remaining: 210ms
143:	learn: 0.3175898	total: 495ms	remaining: 206ms
144:	learn: 0.3172314	total: 499ms	remaining: 203ms
145:	learn: 0.3166772	total: 502ms	remaining: 200ms
146:	learn: 0.3161844	total: 505ms	remaining: 196ms
147:	learn: 0.3155457	total: 509ms	remaining: 193ms
148:	learn: 0.3152168	total: 512ms	remaining: 189ms
149:	learn: 0.3151168	total: 515ms	remaining: 185ms
150:	learn: 0.3146490	total: 519ms	remaining: 182ms
151:	learn: 0.3143147	total: 523ms	remaining: 179ms
152:	learn: 0.3138568	total: 526ms	remaining: 175ms
153:	learn: 0.3131896	total: 529ms	remaining: 172ms
154:	learn: 0.3127816	total: 532ms	remaining: 168ms
155:	learn: 0.3121085	total: 535ms	remaining: 165ms
156:	learn: 0.3119506	total: 537ms	remaining: 161ms
157:	learn: 0.3107185	total: 540ms	remaining: 157ms
158:	learn: 0.3101192	total: 543ms	remaining: 154ms
159:	learn: 0.3098757	total: 546ms	remaining: 150ms
160:	learn: 0.3089705	total: 550ms	remaining: 147ms
161:	learn: 0.3087140	total: 553ms	remaining: 143ms
162:	learn: 0.3084930	total: 556ms	remaining: 140ms
163:	learn: 0.3081402	total: 559ms	remaining: 136ms
164:	learn: 0.3076413	total: 562ms	remaining: 133ms
165:	learn: 0.3071572	total: 565ms	remaining: 129ms
166:	learn: 0.3066620	total: 568ms	remaining: 126ms
167:	learn: 0.3064039	total: 571ms	remaining: 122ms
168:	learn: 0.3060480	total: 575ms	remaining: 119ms
169:	learn: 0.3055961	total: 577ms	remaining: 115ms
170:	learn: 0.3050696	total: 581ms	remaining: 112ms
171:	learn: 0.3046657	total: 584ms	remaining: 109ms
172:	learn: 0.3041989	total: 587ms	remaining: 105ms
173:	learn: 0.3036042	total: 590ms	remaining: 102ms
174:	learn: 0.3034281	total: 592ms	remaining: 98.2ms
175:	learn: 0.3029170	total: 595ms	remaining: 94.7ms
176:	learn: 0.3024753	total: 598ms	remaining: 91.2ms
177:	learn: 0.3022775	total: 601ms	remaining: 87.7ms
178:	learn: 0.3015260	total: 604ms	remaining: 84.3ms
179:	learn: 0.3010933	total: 607ms	remaining: 80.9ms
180:	learn: 0.3007948	total: 609ms	remaining: 77.4ms
181:	learn: 0.3003740	total: 612ms	remaining: 74ms
182:	learn: 0.2990524	total: 615ms	remaining: 70.6ms
183:	learn: 0.2986243	total: 618ms	remaining: 67.2ms
184:	learn: 0.2982427	total: 621ms	remaining: 63.8ms
185:	learn: 0.2977071	total: 623ms	remaining: 60.3ms
186:	learn: 0.2973261	total: 626ms	remaining: 56.9ms
187:	learn: 0.2970343	total: 629ms	remaining: 53.5ms
188:	learn: 0.2966850	total: 632ms	remaining: 50.1ms
189:	learn: 0.2962498	total: 635ms	remaining: 46.8ms
190:	learn: 0.2960678	total: 637ms	remaining: 43.4ms
191:	learn: 0.2954843	total: 640ms	remaining: 40ms
192:	learn: 0.2949343	total: 643ms	remaining: 36.6ms
193:	learn: 0.2942965	total: 646ms	remaining: 33.3ms
194:	learn: 0.2938785	total: 648ms	remaining: 29.9ms
195:	learn: 0.2929383	total: 651ms	remaining: 26.6ms
196:	learn: 0.2924792	total: 654ms	remaining: 23.2ms
197:	learn: 0.2913609	total: 657ms	remaining: 19.9ms
198:	learn: 0.2902409	total: 660ms	remaining: 16.6ms

199:	learn: 0.2897884	total: 664ms	remaining: 13.3ms
200:	learn: 0.2892450	total: 667ms	remaining: 9.95ms
201:	learn: 0.2890354	total: 670ms	remaining: 6.63ms
202:	learn: 0.2886401	total: 673ms	remaining: 3.31ms
203:	learn: 0.2875978	total: 676ms	remaining: 0us
Accuracy: 86.59%

In [175]:
print(max(acc))

86.59217877094973

In [176]:
pos = max(enumerate(acc), key=lambda x: x[1])[0]
print(pos)

203

In [53]:
print(acc[pos])

85.47486033519553

In [178]:
model = CatBoostClassifier(iterations=204,depth=6)
model.fit(X_train, Y_train)
# preds_valid = model.predict(data_tr)

# print(f1_score(y_train, preds_valid, average='weighted'))
y_pred = model.predict(X_test)
pred = []
pred = [round(value) for value in y_pred]

# accuracy = accuracy_score(result_te, predictions)
# print("Accuracy: %.2f%%" % (accuracy * 100.0))

Learning rate set to 0.042131
0:	learn: 0.6606923	total: 3.44ms	remaining: 699ms
1:	learn: 0.6375166	total: 7.11ms	remaining: 718ms
2:	learn: 0.6164801	total: 8.89ms	remaining: 596ms
3:	learn: 0.5992500	total: 11.9ms	remaining: 594ms
4:	learn: 0.5782527	total: 15.5ms	remaining: 615ms
5:	learn: 0.5584385	total: 18.6ms	remaining: 615ms
6:	learn: 0.5432254	total: 21.8ms	remaining: 615ms
7:	learn: 0.5302658	total: 25.2ms	remaining: 616ms
8:	learn: 0.5156374	total: 28.5ms	remaining: 619ms
9:	learn: 0.5024951	total: 32.1ms	remaining: 622ms
10:	learn: 0.4912803	total: 35.3ms	remaining: 620ms
11:	learn: 0.4807017	total: 38.8ms	remaining: 621ms
12:	learn: 0.4713486	total: 43.2ms	remaining: 635ms
13:	learn: 0.4634951	total: 47.8ms	remaining: 648ms
14:	learn: 0.4569223	total: 52.2ms	remaining: 658ms
15:	learn: 0.4487467	total: 55.5ms	remaining: 652ms
16:	learn: 0.4415777	total: 58.7ms	remaining: 646ms
17:	learn: 0.4369201	total: 63.1ms	remaining: 652ms
18:	learn: 0.4319424	total: 66ms	remaining: 643ms
19:	learn: 0.4266037	total: 69ms	remaining: 635ms
20:	learn: 0.4220506	total: 72ms	remaining: 627ms
21:	learn: 0.4180899	total: 75.3ms	remaining: 623ms
22:	learn: 0.4141350	total: 78.2ms	remaining: 615ms
23:	learn: 0.4125242	total: 80ms	remaining: 600ms
24:	learn: 0.4108580	total: 81.7ms	remaining: 585ms
25:	learn: 0.4075085	total: 84.6ms	remaining: 579ms
26:	learn: 0.4046161	total: 87.6ms	remaining: 574ms
27:	learn: 0.4020443	total: 90.8ms	remaining: 571ms
28:	learn: 0.4011959	total: 92.3ms	remaining: 557ms
29:	learn: 0.3988353	total: 94.9ms	remaining: 550ms
30:	learn: 0.3960776	total: 97.9ms	remaining: 546ms
31:	learn: 0.3932895	total: 101ms	remaining: 542ms
32:	learn: 0.3926320	total: 102ms	remaining: 530ms
33:	learn: 0.3907738	total: 105ms	remaining: 526ms
34:	learn: 0.3885862	total: 108ms	remaining: 522ms
35:	learn: 0.3866153	total: 111ms	remaining: 518ms
36:	learn: 0.3852524	total: 114ms	remaining: 514ms
37:	learn: 0.3832728	total: 117ms	remaining: 510ms
38:	learn: 0.3822283	total: 119ms	remaining: 503ms
39:	learn: 0.3809621	total: 122ms	remaining: 499ms
40:	learn: 0.3787061	total: 125ms	remaining: 496ms
41:	learn: 0.3772139	total: 128ms	remaining: 493ms
42:	learn: 0.3761070	total: 131ms	remaining: 489ms
43:	learn: 0.3743807	total: 134ms	remaining: 486ms
44:	learn: 0.3732150	total: 136ms	remaining: 482ms
45:	learn: 0.3716173	total: 139ms	remaining: 478ms
46:	learn: 0.3708080	total: 142ms	remaining: 473ms
47:	learn: 0.3699898	total: 144ms	remaining: 469ms
48:	learn: 0.3689476	total: 147ms	remaining: 466ms
49:	learn: 0.3677704	total: 150ms	remaining: 463ms
50:	learn: 0.3670762	total: 153ms	remaining: 460ms
51:	learn: 0.3665180	total: 156ms	remaining: 456ms
52:	learn: 0.3655377	total: 159ms	remaining: 453ms
53:	learn: 0.3651162	total: 162ms	remaining: 449ms
54:	learn: 0.3647395	total: 164ms	remaining: 445ms
55:	learn: 0.3640596	total: 167ms	remaining: 443ms
56:	learn: 0.3633038	total: 171ms	remaining: 440ms
57:	learn: 0.3621792	total: 174ms	remaining: 437ms
58:	learn: 0.3612114	total: 177ms	remaining: 435ms
59:	learn: 0.3601843	total: 181ms	remaining: 434ms
60:	learn: 0.3591903	total: 185ms	remaining: 433ms
61:	learn: 0.3587480	total: 188ms	remaining: 430ms
62:	learn: 0.3570876	total: 190ms	remaining: 426ms
63:	learn: 0.3562325	total: 194ms	remaining: 424ms
64:	learn: 0.3554865	total: 197ms	remaining: 421ms
65:	learn: 0.3549914	total: 199ms	remaining: 417ms
66:	learn: 0.3544977	total: 202ms	remaining: 413ms
67:	learn: 0.3532673	total: 205ms	remaining: 409ms
68:	learn: 0.3524812	total: 208ms	remaining: 407ms
69:	learn: 0.3520179	total: 211ms	remaining: 404ms
70:	learn: 0.3511580	total: 214ms	remaining: 400ms
71:	learn: 0.3504635	total: 217ms	remaining: 397ms
72:	learn: 0.3497147	total: 219ms	remaining: 394ms
73:	learn: 0.3481260	total: 222ms	remaining: 391ms
74:	learn: 0.3476751	total: 225ms	remaining: 387ms
75:	learn: 0.3468577	total: 228ms	remaining: 384ms
76:	learn: 0.3459850	total: 231ms	remaining: 381ms
77:	learn: 0.3448958	total: 235ms	remaining: 379ms
78:	learn: 0.3438270	total: 238ms	remaining: 376ms
79:	learn: 0.3431114	total: 241ms	remaining: 373ms
80:	learn: 0.3422999	total: 243ms	remaining: 369ms
81:	learn: 0.3418740	total: 246ms	remaining: 366ms
82:	learn: 0.3412694	total: 249ms	remaining: 363ms
83:	learn: 0.3404841	total: 252ms	remaining: 360ms
84:	learn: 0.3400473	total: 255ms	remaining: 357ms
85:	learn: 0.3389706	total: 258ms	remaining: 354ms
86:	learn: 0.3384321	total: 261ms	remaining: 351ms
87:	learn: 0.3378383	total: 264ms	remaining: 347ms
88:	learn: 0.3374753	total: 266ms	remaining: 344ms
89:	learn: 0.3368048	total: 269ms	remaining: 341ms
90:	learn: 0.3365132	total: 272ms	remaining: 338ms
91:	learn: 0.3358808	total: 275ms	remaining: 335ms
92:	learn: 0.3351073	total: 278ms	remaining: 332ms
93:	learn: 0.3346460	total: 281ms	remaining: 329ms
94:	learn: 0.3344832	total: 284ms	remaining: 326ms
95:	learn: 0.3342806	total: 286ms	remaining: 322ms
96:	learn: 0.3337828	total: 289ms	remaining: 318ms
97:	learn: 0.3333982	total: 292ms	remaining: 315ms
98:	learn: 0.3331748	total: 295ms	remaining: 312ms
99:	learn: 0.3326414	total: 297ms	remaining: 309ms
100:	learn: 0.3319168	total: 301ms	remaining: 307ms
101:	learn: 0.3309980	total: 304ms	remaining: 304ms
102:	learn: 0.3305779	total: 306ms	remaining: 300ms
103:	learn: 0.3300197	total: 309ms	remaining: 297ms
104:	learn: 0.3294910	total: 312ms	remaining: 294ms
105:	learn: 0.3289752	total: 315ms	remaining: 291ms
106:	learn: 0.3284118	total: 318ms	remaining: 288ms
107:	learn: 0.3281347	total: 321ms	remaining: 285ms
108:	learn: 0.3277489	total: 324ms	remaining: 282ms
109:	learn: 0.3271996	total: 326ms	remaining: 279ms
110:	learn: 0.3267817	total: 330ms	remaining: 276ms
111:	learn: 0.3261307	total: 334ms	remaining: 274ms
112:	learn: 0.3258356	total: 337ms	remaining: 272ms
113:	learn: 0.3252054	total: 340ms	remaining: 269ms
114:	learn: 0.3242599	total: 344ms	remaining: 266ms
115:	learn: 0.3238080	total: 347ms	remaining: 263ms
116:	learn: 0.3237966	total: 349ms	remaining: 259ms
117:	learn: 0.3235218	total: 354ms	remaining: 258ms
118:	learn: 0.3227444	total: 358ms	remaining: 256ms
119:	learn: 0.3216425	total: 362ms	remaining: 253ms
120:	learn: 0.3213593	total: 365ms	remaining: 250ms
121:	learn: 0.3209766	total: 368ms	remaining: 247ms
122:	learn: 0.3202833	total: 372ms	remaining: 245ms
123:	learn: 0.3197802	total: 376ms	remaining: 242ms
124:	learn: 0.3193448	total: 379ms	remaining: 240ms
125:	learn: 0.3191065	total: 384ms	remaining: 238ms
126:	learn: 0.3184747	total: 388ms	remaining: 235ms
127:	learn: 0.3180967	total: 391ms	remaining: 232ms
128:	learn: 0.3179081	total: 394ms	remaining: 229ms
129:	learn: 0.3175428	total: 397ms	remaining: 226ms
130:	learn: 0.3166511	total: 400ms	remaining: 223ms
131:	learn: 0.3166179	total: 402ms	remaining: 219ms
132:	learn: 0.3161780	total: 405ms	remaining: 216ms
133:	learn: 0.3156862	total: 408ms	remaining: 213ms
134:	learn: 0.3154617	total: 411ms	remaining: 210ms
135:	learn: 0.3153149	total: 414ms	remaining: 207ms
136:	learn: 0.3149564	total: 417ms	remaining: 204ms
137:	learn: 0.3145716	total: 419ms	remaining: 201ms
138:	learn: 0.3142253	total: 422ms	remaining: 198ms
139:	learn: 0.3139716	total: 425ms	remaining: 194ms
140:	learn: 0.3134734	total: 428ms	remaining: 191ms
141:	learn: 0.3130064	total: 432ms	remaining: 189ms
142:	learn: 0.3128479	total: 435ms	remaining: 185ms
143:	learn: 0.3123107	total: 437ms	remaining: 182ms
144:	learn: 0.3118935	total: 441ms	remaining: 179ms
145:	learn: 0.3115650	total: 443ms	remaining: 176ms
146:	learn: 0.3105549	total: 446ms	remaining: 173ms
147:	learn: 0.3104625	total: 449ms	remaining: 170ms
148:	learn: 0.3087881	total: 452ms	remaining: 167ms
149:	learn: 0.3083463	total: 455ms	remaining: 164ms
150:	learn: 0.3078846	total: 458ms	remaining: 161ms
151:	learn: 0.3076897	total: 461ms	remaining: 158ms
152:	learn: 0.3074273	total: 463ms	remaining: 154ms
153:	learn: 0.3072584	total: 466ms	remaining: 151ms
154:	learn: 0.3071107	total: 469ms	remaining: 148ms
155:	learn: 0.3063177	total: 472ms	remaining: 145ms
156:	learn: 0.3059765	total: 475ms	remaining: 142ms
157:	learn: 0.3054070	total: 478ms	remaining: 139ms
158:	learn: 0.3048180	total: 481ms	remaining: 136ms
159:	learn: 0.3045557	total: 483ms	remaining: 133ms
160:	learn: 0.3041753	total: 487ms	remaining: 130ms
161:	learn: 0.3038852	total: 489ms	remaining: 127ms
162:	learn: 0.3031085	total: 492ms	remaining: 124ms

163:	learn: 0.3027951	total: 496ms	remaining: 121ms
164:	learn: 0.3024456	total: 499ms	remaining: 118ms
165:	learn: 0.3013393	total: 502ms	remaining: 115ms
166:	learn: 0.3002213	total: 505ms	remaining: 112ms
167:	learn: 0.2999656	total: 508ms	remaining: 109ms
168:	learn: 0.2994389	total: 512ms	remaining: 106ms
169:	learn: 0.2990042	total: 515ms	remaining: 103ms
170:	learn: 0.2985427	total: 519ms	remaining: 100ms
171:	learn: 0.2979139	total: 523ms	remaining: 97.2ms
172:	learn: 0.2973280	total: 526ms	remaining: 94.3ms
173:	learn: 0.2964611	total: 529ms	remaining: 91.2ms
174:	learn: 0.2961571	total: 532ms	remaining: 88.2ms
175:	learn: 0.2959192	total: 535ms	remaining: 85.1ms
176:	learn: 0.2958660	total: 537ms	remaining: 81.9ms
177:	learn: 0.2954469	total: 540ms	remaining: 78.8ms
178:	learn: 0.2943744	total: 542ms	remaining: 75.8ms
179:	learn: 0.2939530	total: 545ms	remaining: 72.7ms
180:	learn: 0.2925940	total: 549ms	remaining: 69.7ms
181:	learn: 0.2923743	total: 551ms	remaining: 66.7ms
182:	learn: 0.2915442	total: 554ms	remaining: 63.6ms
183:	learn: 0.2911202	total: 557ms	remaining: 60.6ms
184:	learn: 0.2908066	total: 560ms	remaining: 57.6ms
185:	learn: 0.2903138	total: 564ms	remaining: 54.5ms
186:	learn: 0.2897949	total: 566ms	remaining: 51.5ms
187:	learn: 0.2895074	total: 569ms	remaining: 48.4ms
188:	learn: 0.2892418	total: 572ms	remaining: 45.4ms
189:	learn: 0.2889028	total: 576ms	remaining: 42.4ms
190:	learn: 0.2881129	total: 579ms	remaining: 39.4ms
191:	learn: 0.2877804	total: 583ms	remaining: 36.4ms
192:	learn: 0.2871807	total: 586ms	remaining: 33.4ms
193:	learn: 0.2865898	total: 589ms	remaining: 30.4ms
194:	learn: 0.2857139	total: 592ms	remaining: 27.3ms
195:	learn: 0.2856314	total: 595ms	remaining: 24.3ms
196:	learn: 0.2851062	total: 598ms	remaining: 21.2ms
197:	learn: 0.2842001	total: 601ms	remaining: 18.2ms
198:	learn: 0.2837577	total: 604ms	remaining: 15.2ms
199:	learn: 0.2831844	total: 607ms	remaining: 12.1ms
200:	learn: 0.2828389	total: 610ms	remaining: 9.11ms
201:	learn: 0.2825116	total: 613ms	remaining: 6.07ms
202:	learn: 0.2821662	total: 616ms	remaining: 3.03ms
203:	learn: 0.2819122	total: 619ms	remaining: 0us

In [179]:
pd.DataFrame(pred).to_csv('sol.csv')

In [180]:
print(len(pred))

418